@charset "utf-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/static/pretendard.css");

footer {
    position: relative;
    width: 100%;
    height: 132px;
    font-family: 'Pretendard';
    font-size: 14px;
    font-weight: 400;
    background-color: #122B42;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer > address {
    color: #CECED5;
    line-height: 30px;
    font-style: normal;
    letter-spacing: -0.01em;
    margin-left: 13.663%;
}

footer > .footer-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 13.663%;
}
footer > .footer-right .logo {
    margin-bottom: 16px;
    display: block;
}
footer > .footer-right .logo > img{
    width: 181px;
    height: 40px;
}

footer > .footer-right span {
    color: #CECED5;
}
