@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/static/pretendard.css");
@font-face {
    font-family: 'SUIT-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


#management {
    width: 100%;
    font-family: 'SUIT';
    position: relative;
}

#management > h2 {
    color: #333;
    font-size: 24px;
    font-weight: 600;
    margin-top: 110px;
    margin-bottom: 120px;
    text-align: center;
}

.mnaall {
    margin: 0 auto;
    width: 72.916%;
}

.mnabox {
    margin-bottom: 80px;
    position: relative;
}

.mnabox > img {
    width: 100%;
}

.mnabox > .mna_t {
    /* margin-left: 59.375%; */
    /* margin-left: 56%; */
    /* margin-left: 1100px; */
    /* left: 0; */
    right: 0;
    /* top: 440px; */
    margin-top: -240px;
}

.mnabox_2 {
    display: flex;
    justify-content: flex-start;
    margin-left: 48.9583%;
}

.mnabox_3 {
    display: flex;
    justify-content: flex-start;
    margin-top: 80px;
    /* margin-left: 13.5416%; */
}

.mnabox_2 > img,
.mnabox_3 > img {
    width: 720px;
    height: 480px;
}

.mna_t {
    position: absolute;
    padding: 36px 48px;
    background-color: #fff;
}

.mnabox_2 > .mna_t {
    /* top: 0px; */
    left: 15.625%;
    margin-top: 100px;
}
.mnabox_3 > .mna_t {
    margin-top: 100px;
    left: 57.2916%;
}

.mna_t > h3 {
    color: #000;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.01em;
    padding-bottom: 24px;

}
.mna_t > p {
    color: #666;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.01em;
}
