@charset "utf-8";

*,html,body{ margin: 0; padding: 0; box-sizing: border-box; }
ul,ol,li{ list-style: none; }
a { text-decoration: none; }

h2{
    text-align: center;
    margin-bottom: 120px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #333333;
}
.news_story{
    width: 100%;
    margin-top: 120px;
}
.news_story_grid{
    width: 72.916%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 24px;
    margin: auto;
}
.news_box{
    border: 1px solid #dddddd;
}
.news_box img{
    width: 100%;
}
.news_box div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}
.news_box div > p{
    font-family: 'Pretendard';
    font-style: normal;
    letter-spacing: -0.01em;
}
.news_box div > p:first-child{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}
.news_box div > p:not(:first-child){
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #999999;
    margin-top: 10px;
}