@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
  }
  
  body,
  html {
    width: 100%;
    height: 100%;
    font-family: "Pretendard";
  }
  
  ul,
  li {
    list-style: none;
    text-decoration: none;
  }
  
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: #fff;
    text-decoration: none;
  }
  