@charset "utf-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/static/pretendard.css");

#wrap > img {
  width: 100%;
  height: auto;
}

#mind {
  width: 100%;
  padding-top: 110px;
}
  
#mind > h2 {
  color: #333;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

article {
  width: 72.916%;
  margin-left: 13.5416%;
  margin-top: 120px;
}

article > h3 {
  color: #f6f6f6;
  font-size: 80px;
  font-weight: 800;
}

article > h4 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -0.01em;
  position: relative;
  top: -40px;
}

article > img {
  width: 100%;
  margin-top: -20px;
}

article > div > p {
  /* word-break: keep-all; */
}

.vision > h4 {
  color: #004170;
}

.firsttx {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 40px;
}
.firsttx > p {
  line-height: 35px;
  letter-spacing: -0.01em;
}
.firsttx > p:nth-child(1) {
  color: #333;
  font-size: 26px;
  font-weight: 600;
  margin-right: 10px;
}
.firsttx > p:nth-child(2) {
  color: #666;
  font-weight: 400;
  font-size: 18px;
}

.mission > h4 {
  color: #0B7E00;
}
.secondtx > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-top: 40px;
  line-height: 35px;
}

.secondtx > div > p {
  word-break: keep-all;
  /* width: 223px; */
}

.secondtx > div:nth-child(1) > p:nth-child(1){
  /* width: 90px; */
  margin-right: 249px;
}
.secondtx > div:nth-child(2) > p:nth-child(1){
  /* width: 90px; */
  margin-right: 116px;
}


.secondtx > div:nth-child(1) > p:nth-child(2) {
  /* margin-left: 17.785%; */
  /* margin-left: 12.96875%; */
}
.secondtx > div:nth-child(2) > p:nth-child(2) {
  /* margin-left: 8.286%; */
  /* margin-left: 6.0416%; */
}
.secondtx > div > p:nth-child(1){
  color: #333;
  font-size: 26px;
  font-weight: 600;
}
.secondtx > div > p:nth-child(2){
  color: #666;
  font-size: 18px;
  font-weight: 400;
}

.core_value > h4 {
  color: #606E79;
}

.thirdtx {
  margin-top: 40px;
}

.thirdtx > dl {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.thirdtx > dl:last-child {
  margin-bottom: initial;
}

.thirdtx > dl > dt {
  color: #333;
  font-size: 26px;
  font-weight: 600;
  line-height: 35px;
  white-space: nowrap;
}

.thirdtx > dl > dd {
  color: #666;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  margin-left: 17.7857%;
  white-space: nowrap;
}

.thirdtx > dl:nth-child(3) > dd {
  margin-left: 15.7857%;
}

@media screen and (max-width: 899px){

  article{
    width: 80%;
    margin: 120px auto;
  }

  article > h3 {
    font-size: 50px;
  }

  article > h4 {
    font-size: 25px;
  }
  .firsttx{
      display: block;
  }
  .firsttx > p:nth-child(1) {
    font-size: 20px;
  }

  .firsttx > p:nth-child(2) {
    font-size: 16px;
  }

  .secondtx > div {
    display: block;
    line-height: 29px;
  }
  .secondtx > div:nth-child(1) > p:nth-child(1){
    margin-right: 0;
    margin-bottom: 10px;
  }

  .secondtx > div:nth-child(2){
    display: block;
  }

  .secondtx > div > p > br {
    display: none;
  }
  .secondtx > div > p:nth-child(1){
    font-size: 20px;
    margin-right: 0;
  }

  .secondtx > div:nth-child(2) > p:nth-child(1) {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .secondtx > div > p:nth-child(2){
    word-break: keep-all;
    font-size: 16px;
  }
  .thirdtx > dl{
    flex-direction: column;
    font-family: 'Pretendard';
    font-style: normal;
  }
  .thirdtx > dl > dt{
    font-size: 20px;
  }
  .thirdtx > dl > dd{
    font-size: 15px;
    margin-left: 3.5%;
    white-space: normal;
  }
  .thirdtx > dl:nth-child(3) > dd{
    margin-left: 3.5%;
  }

}





